* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -outline: 0;
    font-family: "Roboto", sans-serif, arial;
}
html, body 
    {
    font-size: 14px;
    font-weight: 400;
    /* background: whitesmoke; */
    color: black;
}
.container {
    width: 1100px;
    margin: 0px auto;
    display: table;
}
.width-33 {
    width: 33%;
    float: left;
}
.width-66 {
    width: 66%;
    float: left;
}

.contact form {
    width: 66%;
    margin: 0px auto;
}
.contact input,
textarea {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    border: 1px solid #a1a1a1;
}
.contact textarea {
    height: 80px;
}
.contact button {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    background: red;
    color: #fff;
    border: none;
    font-size: 16px;
}

.contact button:hover {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    height: 40px;
    padding: 10px;
    background: black;
    color: #fff;
    border: none;
    font-size: 16px;
}
.contact h3 {
    font-size: 26px;
    text-align: center;
    margin-top: 60px;
    color: black;
}
.contact h4 {
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
}
.contact p {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

a {
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    color: white;
  }

